$base-font-size   : 14px
$base-line-height : 28px
@include establish-baseline

$base-font-family : "ff-basic-gothic-web-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$header-font-family: "franklin-gothic-ext-comp-urw", "Helvetica Neue", "Helvetica", "Arial", sans-serif

body
  font-family: $base-font-family

h1, h2, h3
  font-family: $header-font-family
  font-weight: 400
h1
  font-size: 4em

.mega
  font-size: 8rem
  line-height: 28rem
  font-weight: 900

section.index li a
  @extend .mega
  color: $type-black
  text-decoration: none
  font-style: italic
  &:hover
    color: #E8FF00