<!doctype html>
<html>
  <%= partial "shared/head" %>

  <body class="<%= page_classes %>">
    <%= partial "shared/header" %>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>