section.links
  ul
    margin: 0
    padding: 0
    width: 100%
  li
    list-style: none
    width: 100%
    display: block
    float: left
    text-align: center
    @include margin-trailer(.5)
    @include padding-trailer(3)
    a
      z-index: 2
      display: inline-block
      padding: .5em

  .about
    margin-top: 40em
    .content
      width: 60%
      float: right
      margin-top: -20em


.thumb
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: 100%
  position: fixed
  right: 0
  bottom: 0
  overflow: hidden
  z-index: -1
  display: none
  &.active 
    display: block

.link-final
  .thumb
    .copy
      padding: 3em
      margin-top: 200px

section.about
  display: block
  width: 100%
  float: left
  text-align: center

.pad
  background: #fff
  display: block
  position: fixed
.pad-top, 
.pad-bottom
  width: 100%
  height: $grid-padding
  left: 0

.pad-top
  top: 0
.pad-bottom
  bottom: 0

.pad-left,
.pad-right
  width: $grid-padding
  height: 100%
  top: 0
.pad-left
  left: 0
.pad-right
  right: 0


