.logo
  width: 100%
  text-align: left
  a
    display: inline-block
    width: 80px
    height: 22.5px
    background: url('../images/logo.png') no-repeat center
    padding: .5em
    background-size: 100%

.index
  header.site-header
    .logo
      text-align: center


